main {
  --margin: 18px;
  width: 100%;
  min-height: calc(100vh - var(--margin) * 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: var(--margin) 0;

  .countdown-output {
    font-size: unset;
    text-align: center;
    font-weight: unset;
    margin: 0;
    width: 100%;

    .countdown-label, .countdown-time { display: block; }
    
    .countdown-label {
      color: var(--accent-color);
      font-weight: 800;
      margin-bottom: 2vh;
    }
  }

  .form-fields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    align-items: center;
    padding: 0 var(--margin);
  }
  .form-field {
    display: inline-block;
    flex-basis: 1;
    position: relative;

    label {
      position: absolute;
      top: -5px;
      left: 8px;
      line-height: 1em;
      background: var(--body-bg);
      padding: 0 4px;
    }

    input {
      border: 1px solid var(--border-color);
      background: transparent;
      border-radius: 4px;
      height: 54px;
      width: 278px;
      line-height: 54px;
      padding: 0 12px;
      font-family: 'Open Sauce One';
      font-weight: 400;
      font-size: 1rem;
    }
  }
}
