
<main class="main">
  <h1 class="countdown-output">
    <text-sizer class="countdown-label" [factor]="0.8" [text]="'Time to ' + countdownLabel" />
    <text-sizer class="countdown-time" [factor]="0.86" [text]="countdownOutput"/>
  </h1>

  <div class="form-fields">
    <div class="form-field">
      <label for="input-label">Title</label>
      <input id="input-label" [(ngModel)]="countdownLabel" (change)="update()" />
    </div>

    <div class="form-field">
      <label for="input-date">Date</label>
      <input 
        type="date" 
        id="input-date" 
        [(ngModel)]="countdownDate" 
        placeholder="YYYY-MM-DD"
        [attr.min]="today" 
        (change)="update()" />
    </div>
  </div>
</main>
