/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-400-normal.woff) format('woff');
}
@font-face {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-800-normal.woff) format('woff');
}

// Some basic variables
:root {
  --body-bg: #F5F3F3;
  --text-color: #000;
  --accent-color: #72035D;
  --border-color: #757575;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Open Sauce One';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--body-bg);
}
